# Node.js
node_modules/

# npm logs
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build directories
build/
dist/

# Test coverage
coverage/

# Jest test results
/coverage/
*.lcov-report/

# VS Code and IDE-specific files
.vscode/